<h4>投稿詳細</h4>

<table class="table table-hover table-inverse">
      <tr>
       <td>施設名</td>
         <td>
          <%= @main_content.facility %>
         </td>
      </tr>
      <tr>
       <td>営業時間</td>
         <td>
          <%= @main_content.time %>
         </td>
      </tr>
      <tr>
       <td>説明文</td>
        <td>
          <%= @main_content.appeal %>
        </td>
      </tr>
      <tr>
       <td>料金</td>
        <td>
          <%= @main_content.fee %>
        </td>
      </tr>
      <tr>
       <td>住所</td>
        <td>
          <%= @main_content.address %>
        </td>
      </tr>
      <tr>
       <td>アクセス</td>
        <td>
          <%= @main_content.access %>
        </td>
      </tr>
      <tr>
       <td>コメント一覧</td>
        <td>
         <% @main_content.main_comments.each do |main_comment| %>
          <div><%= main_comment.comment_content %></div>
          <% end %>
        </td>
      </tr>
      <%= @main_content.likes.count %> いいね
      <%if @main_content.image_id.nil? %>
      画像なし
      <%else%>
      <%= image_tag attachment_url(@main_content, :image, :fill, 300, 300, format: "jpg") %>
      <%end %>
      <%= link_to "編集", edit_admin_main_content_path(@main_content.id), class: "btn btn-success" %>
      <%= link_to "削除", admin_main_content_path(@main_content.id), method: :delete, class: "btn btn-danger" %>
      <%= link_to "一覧", admin_main_contents_path(@main_content.id), class: "btn btn-primary" %>
</table>