<h4>投稿詳細</h4>

<table class="table table-hover table-inverse">
      <tr>
       <td>日時</td>
         <td>
          <%= @event.period %>
         </td>
      </tr>
      <tr>
       <td>開催場所</td>
         <td>
          <%= @event.place %>
         </td>
      </tr>
      <tr>
       <td>イベント名</td>
        <td>
          <%= @event.festival %>
        </td>
      </tr>
      <%= link_to "編集", edit_admin_event_path(@event.id), class: "btn btn-success" %>
      <%= link_to "削除", admin_event_path(@event.id), method: :delete, class: "btn btn-danger" %>
      <%= link_to "一覧", admin_events_path(@event.id), class: "btn btn-primary" %>
</table>