<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Planet Watcher Main Content_show</title>
  </head>

  <body id="main_show">

   <h1>投稿詳細</h1>

    <div class="wrap">
      <%if @main_content.image_id.nil? %>
        画像なし
      <%else%>
        <%= image_tag attachment_url(@main_content, :image) %>
      <%end %>
          <div class="box">
           <p><%= @main_content.facility %></p>
           <p><%= @main_content.time %></p>
           <p><%= @main_content.appeal %></p>
           <p class="sentiment-score">本文の感情分析スコア[<%= @main_content.score %>]</p>
           <p><%= @main_content.fee %></p>
           <p><%= @main_content.address %></p>
           <p><%= @main_content.access %></p>
           <% if @main_content.liked_by?(current_customer) %>
            <p>
              <%= link_to main_content_likes_path(@main_content), method: :delete do %>
                  ♥<%= @main_content.likes.count %> good
              <% end %>
            </p>
           <% else %>
            <p>
              <%= link_to main_content_likes_path(@main_content), method: :post do %>
                  ♡<%= @main_content.likes.count %> good
              <% end %>
            </p>
           <% end %>
          </div>
    </div>

    <br>

    <% @main_content.main_comments.each do |main_comment| %>
    <dd><p class="sentiment-score">本文の感情分析スコア[<%= main_comment.score %>]</p>
        <font color="white"><%= current_customer.name %></font><br>
          <%= main_comment.comment_content %></dd>
           <% if main_comment.customer == current_customer %>
            <dt><div class="comment-delete">
             <%= link_to "削除", main_content_main_comment_path(main_comment.main_content, main_comment), method: :delete %>
            </div></dt>
           <% end %>
    <% end %>

      <dl>
        <%= form_with(model:[@main_content, @main_comment], local: true) do |f| %>
          <%= f.text_area :comment_content, cols:'50', rows:'5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %></dl>
  </body>
</html>